# .htaccess security patch
# ------------------------
# 
# Replace this htaccess or copy and replace last line
# of this file with last line of .htaccess in the root

AddDefaultCharset UTF-8

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) index.php?$1 [QSA,L]